<div class="home pb-md-2">
  <div class="center jumbotron">
    <h1>ブックアップへようこそ！</h1>
    <%# <h2>読書で得た学びを日常に取り入れましょう</h2> %>
    <%# <p>読んだだけでは終わらない！</p> %>
  </div>

  <div id="fh5co-portfolio">
    <div class="container">
      <div class="col-md-9">
      <p><%= link_to "新規投稿", new_post_path, class: "btn btn-primary btn-lg btn-record" %></p>

      
        <div class="following-user-posts pt-md-5">
          <div class="container">
            <h3 class="text-center pb-md-1 mb-md-5">フォロー中のユーザの投稿</h3>
            <ol class="posts px-lg-5 ml-lg-5">
            <% if user_signed_in? %>
              <% if @following_user_posts.exists? %>
                <% @following_user_posts.each do |post| %>
                  <div class="following-post d-lg-flex flex-lg-row mb-md-4">
                    <div class="following-post-image mr-md-3">
                      <div class="thumb-post d-lg-flex flex-lg-row">

                      <%= render partial: 'posts/post', locals: { post: post}%>

                      </div>
                    </div>
                  </div>
                <%end%>
              <% else %><br>
                <p class="text-center">他のユーザをフォローするとその投稿が表示されます</p>
              <% end %>
            <% else %>
            <p class="text-center">ログインするとフォローしたユーザの投稿が表示されます</p>
            <% end %>
          </div>
        </div><br>

        <div class="post-area pt-md-5">
          <div class="container">
            <h3 class="text-center pb-md-1 mb-md-5">新着投稿</h3>
              <ol class="posts px-lg-5 ml-lg-5">

                <%= render @posts%>

              </ol>
              <%= will_paginate @posts %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>