<% if user_signed_in? && current_user != user %>
  <% if current_user.following?(user) %>
    <p><%= link_to "フォロー解除", user_relationships_path(user.id), class: "btn btn-primary", method: :delete, remote: true %></p>
  <% else %>
    <p><%= link_to "フォローする",user_relationships_path(user.id), class: "btn btn-primary", method: :post, remote: true %></p>
  <% end %>
<% end %>