<li>
  <% if user.image.attached? %>
    <%= image_tag user.image.variant(resize: '50x50') %>
  <% else %>
    <%= image_tag 'noimageman.png', :size =>'50x50' %>
  <% end %>

  <%= link_to user.name, user %>
  <% if user_signed_in?%>
  <% if (current_user.admin? && current_user != user) || (!current_user.admin? && current_user == user) %> 
    | <%= link_to "削除", user_path(user), method: :delete,
                                  data: { confirm: "本当に削除しますか？" } %>
  <% end %> 
  <%end%>
</li>