<h4>  
  <% if user_signed_in? && current_user== post.user%>
  <% if current_user.completed_by?(post.id) %>
    <p>プラン達成状況：完了
      <%= link_to destroy_completion_path(post), class: "link-to unlike", method: :delete, remote: true do %>
        <i class="far fa-smile"></i>
      <% end %>

    </p>
  <% else%>
    <p>プラン達成状況：未達成
      <%= link_to create_completion_path(post), class: "link-to like", method: :post, remote: true do %>
        <i class="fas fa-smile"></i>
      <% end %>

    </p>
  <% end %>
  <% else %>
  <% if post.user.completed_by?(post.id) %>
  プラン達成状況：完了<i class="far fa-smile"></i>
  <%else%>
  プラン達成状況：未達成<i class="fas fa-smile"></i>
  <%end%>
<% end %></h4>