    <div class="container">
  <h1 class="text-center pb-md-1 mb-md-5">完了済みの投稿</h1>
    <div class="posts px-lg-5 ml-lg-5">
    <% if current_user.completions.exists? %> 
    <% current_user.posts.each do |post| %> 
    <% if current_user.completed_by?(post.id) %> 
      <%= render partial: 'posts/post', locals: { post: post}%>

    <%end%> 

    <%end%>
           <%  else %>
      <p class="text-center">まだ完了した投稿がありません</p>
      <%end%>
    </div>
    </div> 