<div class="container">
  <h3 class="text-center pb-md-1 mb-md-5">完了済みの投稿</h3>
    <div class="posts px-lg-5 ml-lg-5">
    <% current_user.posts.each do |post| %> 
    <% if current_user.completed_by?(post.id) %> 
      <%= render partial: 'posts/post', locals: { post: post}%>
    <% else %>
      <p class="pl-4">まだ投稿がありません</p>
    <%end%> 
    <%end%>
    </div>
    </div> 